<div class="flex inline-block justify-center sticky">
  <p class="bg-green-600 text-xl font-semibold border rounded-lg m-2 p-1">
    101A
  </p>
  <p class="text-xl font-semibold m-2 p-1">ASNELLES/CAEN</p>
</div>

<div>
  <div class="h-72">
    <iframe
      src="https://umap.openstreetmap.fr/fr/map/carte-sans-nom_1140983?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=none&captionBar=false&captionMenus=true&captionControl=null&locateControl=true"
      width="100%"
      height="100%"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <p-accordion [activeIndex]="1">
    <p-accordionTab header="Consulter les horaires">
      <p>Importer les horaires ici</p>
    </p-accordionTab>

    <p-accordionTab header="Points d'intérêt à proximité de cette ligne">
      <div *ngFor="let point of poi" class="mb-5">
        <p-card header="{{ point.Name }}">
          <img [src]="point.Image" alt="Image de {{ point.Name }}" />
          <p>{{ point.Description }}</p>
        </p-card>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
